<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE
        mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.mallang.hightrafficcommunity.mapper.CategoryMapper">

    <!-- 카테고리 등록 -->
    <insert id = "createCategory" parameterType = "com.mallang.hightrafficcommunity.dto.CategoryDTO">
        INSERT INTO category (
                            category
        ) values (
                            #{category}
        )
    </insert>

    <!-- 카테고리 수정 -->
    <update id = "updateCategory" parameterType="com.mallang.hightrafficcommunity.dto.CategoryDTO">
        UPDATE
                    category
        SET
                    category = #{category}
        WHERE
                    id = #{id}
    </update>

</mapper>